//em  = 16px
//rem = 16px
body{
    font-family: $base_content_font;
}

.overlay{
    position: relative;
    height: 100vh;
    &__back{
        z-index: 1;
        background: url('../images/mid-back-2.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__body{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1;
        background: rgba($color_black,0.5);
        color: $color_white;
    }
}

.main-home{
    &__body{
        padding: 8rem 0;
    }
}

.navbar{
    background: $color_black;
    border: none;
    &--transparent{
        background: transparent;
        a{
            color: white !important;
        }
    }
    &__link{
        color: $color_white;
    }
}

.main{
    margin-top: 5rem;
    padding-bottom: 5rem;
    &__body{
        padding-top: 5rem;
    }
    &__content{
        padding: 2rem 1rem;
        &--bordered{
            border: 2px solid gold;
        }
    }
    &__title{
        font-family: $base_title_font;
        font-weight: $weight_bold;
        text-transform: uppercase;
    }
}
.horizon{
    padding: 4rem 0;
    font-family: $base_content_font;
    &--white{
        background: $color_white;
        color: $color_black;
    }
    &--black{
        background: $color_black;
        color: $color_white
    }
}

.footer-bar{
    background: black;
    width: 100%;
    padding: 1rem;
    color: white;
}
.horizon{
    position: relative;
    overflow: hidden;
}