

//////////////////////////////////
////////////////////////////////// Blocks
//////////////////////////////////

.elastic-img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.cover-img {
	display: block;
	width: 100%;
	height: auto;
}

.content-box {
	padding: 1rem;
	margin: 1rem 0;
	background: $color_white;
	border-radius: $base_border_radius;

	&:only-child { margin: 0; }
}

.figure{
	&--centered{
		width: 90%;
		margin: 0 5%;
	}
	&__circled{
		border-radius: 50%;
		border: 1px solid $color_gold;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
		}
	}
}


//////////////////////////////////
////////////////////////////////// Typoraphy
//////////////////////////////////

// font styles
.font-line-through { text-decoration: line-through; }
.font-bold { font-weight: bold; }
.font-italic { font-style: italic; }

// font alignments
.font-centered { text-align: center; }
.font-lefted { text-align: left; }
.font-righted { text-align: right; }

//float alignments
.float-center {
	margin-left: auto;
	margin-right: auto;
}


//////////////////////////////////
////////////////////////////////// Helper classes
//////////////////////////////////

.bg-white { background: $color_white; }
.bg-black { background: $color_black; }

.float-left { float: left; }
.float-right { float: right; }

.clearfix {
    zoom: 1;

	&::before, &::after {
		content: "";
    	display: table;
	}

	&::after { clear: both; }
}


////////////////////
//common helpers////
///////////////////
.row{
	max-width: 100%;
	margin: 0;
	padding: 0;
	&--flex{
		display: flex;
		align-items: center;
	}
	&--padd{
		padding: 2rem 0;
	}
}

.list-inline{
	padding-left: 0;
	margin: 0;
    list-style: none;
	li{
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}
}
textarea{
    resize: none;
}
.upper{
	text-transform: uppercase;
}
.lower{
	text-transform: lowercase;
}
.capital{
	text-transform: capitalize;
}
.no-padding{
	padding: 0 !important;
}
.no-padding--top,
.no-padding--vertical{
	padding-top: 0 !important;
}
.no-padding--bottom,
.no-padding--vertical{
	padding-bottom: 0 !important;
}
.no-padding--left,
.no-padding--horizontal{
	padding-left: 0 !important;
}
.no-padding--right,
.no-padding--horizontal{
	padding-right: 0 !important;
}
.no-margin{
	margin: 0 !important;
}
.no-margin--top,
.no-margin--vertical{
	margin-top: 0 !important;
}
.no-margin--bottom,
.no-margin--vertical{
	margin-bottom: 0 !important;
}
.no-margin--left,
.no-margin--horizontal{
	margin-left: 0 !important;
}
.no-margin--right,
.no-margin--right{
	margin-right: 0 !important;
}

